<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
<link rel="stylesheet" href="style.css">
<title>疑難來解惑</title>
</head>
<body>
 <!-- LOGO -->


    <div class="container pt-3 " id="logo">
        <div class="row boder" id="homepage">
            <div class="col ">
              <a href="/" ><img src="images/中科大蝦米.png"  alt="HTML tutorial" class="mx-auto d-block"></a>
        </div>
            <div class="col ">
                <img src="images/蝦米LOGO.png" class="mx-auto d-block">
            </div>
            <div class="col ">
                <div>
                  <% if (name) { %>
                    <!-- <a class="btn btn-default" href="/logout">登出</a> -->
                    <a href="/up" > <img src="images/我要救學弟妹.png" alt="HTML tutorial" class="mx-auto d-block"></a>
                  <% } else { %>
                    <!-- <a class="btn btn-default" href="/login">登入</a> -->
                    <a href="/help"> <img src="images/我要救學弟妹.png" alt="HTML tutorial" class="mx-auto d-block"></a>
                  <% } %>
                </div>
            </div>
        </div>
    </div>




<!-- 彩條 -->

    <div class="container-fluid pt-3 ">
      <img class="w-100" src="images/彩條.png" class="mx-auto d-block"> 
    </div>
   

    <!-- col lg -->
    <div class="container pt-3 ">
      <div class="row" id="homepage">
          <!-- <div class="p-3 col-lg-2 lg2">
              
          </div> -->
          <div class="p-3 col-lg-2 lg2">
            <a href="/resource" ><img src="images/不求人指南字.png"  alt="HTML tutorial" class="mx-auto d-block"></a>
            <br>
          </div>
          <div class="p-3 col-lg-2 lg2">
            <a href="/print" ><img src="images/輸出店錦囊字.png"  alt="HTML tutorial" class="mx-auto d-block"></a>
            <br>
          </div>
          <div class="p-3 col-lg-2 lg2">
            <a href="/exchange" ><img src="images/二手物交換字.png"  alt="HTML tutorial" class="mx-auto d-block"></a>
            <br>
          </div>
          <div class="p-3 col-lg-2 lg2">
            <a href="/question" ><img src="images/疑難來解惑字.png"  alt="HTML tutorial" class="mx-auto d-block"></a>
            <br>
          </div>
        
      </div>
  </div>
  <!-- 框架 -->
  
  <div class="container">
    <div class="row justify-content-center" style="margin: 20px;">
             <!-- Nav pills -->
    <ul class="nav navbar-expand-md" >
        <li class="nav-item">
          <a class="nav-link " data-toggle="pill" href="#home" ><img src="images/疑難來解惑/大一字.png" alt="大一字" ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#menu1" ><img src="images/疑難來解惑/大二字.png" alt="大二字" ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" href="#menu2" ><img src="images/疑難來解惑/大三字.png" alt="大三字" ></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#menu3" ><img src="images/疑難來解惑/大四字.png" alt="大四字" ></a>
          </li>
      </ul>
              <!-- Tab panes -->
<div class="tab-content ">
<div id="home" class="container tab-pane fade " style="padding: 0px;">
  <img src="images/疑難來解惑/1.png" alt="大一">
</div>
<div id="menu1" class="container tab-pane fade" style="padding: 0px;">
    <img src="images/疑難來解惑/2.png" alt="大二">
</div>
<div id="menu2" class="container tab-pane active" style="padding: 0px;">
    <img src="images/疑難來解惑/3.png" alt="大三">
</div>
<div id="menu3" class="container tab-pane fade" style="padding: 0px;">
    <img src="images/疑難來解惑/4.png" alt="大四">
</div>
</div>
        
    </div>

  
  </div>

 


  <!-- 彩條 -->
<footer id="footer">
    <div class="container-fluid pt-3 ">

      <img class="w-100" src="images/彩條.png" class="mx-auto d-block"> 

    </div>


    <!-- 聯絡方式 -->

    <div class="container-fluid pt-3 ">
      <img  src="images/聯絡方式.png" class="mx-auto d-block"> 
    </div>
  
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>