<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
<link rel="stylesheet" href="style.css">
<title>註冊</title>

<style>
  .input-group{
      margin: auto;
      max-width: 100%;
      justify-content: center;
  }

  .col-6{
      margin-top: 50px;
      max-width: 100%;
  }
</style>

</head>
<body>
 <!-- LOGO -->


    <div class="container pt-3 " id="logo">
        <div class="row boder" id="homepage">
            <div class="col ">
              <a href="/" ><img src="images/中科大蝦米.png"  alt="HTML tutorial" class="mx-auto d-block"></a>
        </div>
            <div class="col ">
                <img src="images/蝦米LOGO.png" class="mx-auto d-block">
            </div>
            <div class="col ">
                <div>
                  <% if (name) { %>
                    <!-- <a class="btn btn-default" href="/logout">登出</a> -->
                    <a href="/up" > <img src="images/我要救學弟妹.png" alt="HTML tutorial" class="mx-auto d-block"></a>
                  <% } else { %>
                    <!-- <a class="btn btn-default" href="/login">登入</a> -->
                    <a href="/help"> <img src="images/我要救學弟妹.png" alt="HTML tutorial" class="mx-auto d-block"></a>
                  <% } %>
                </div>
            </div>
        </div>
    </div>




<!-- 彩條 -->

    <div class="container-fluid pt-3 ">
      <img class="w-100" src="images/彩條.png" class="mx-auto d-block"> 
    </div>
   

    <!-- col lg -->
    <div class="container pt-3 ">
      <div class="row" id="homepage">
          <!-- <div class="p-3 col-lg-2 lg2">
              
          </div> -->
          <div class="p-3 col-lg-2 lg2">
            <a href="/resource" ><img src="images/不求人指南字.png"  alt="HTML tutorial" class="mx-auto d-block"></a>
            <br>
          </div>
          <div class="p-3 col-lg-2 lg2">
            <a href="/print" ><img src="images/輸出店錦囊字.png"  alt="HTML tutorial" class="mx-auto d-block"></a>
            <br>
          </div>
          <div class="p-3 col-lg-2 lg2">
            <a href="/exchange" ><img src="images/二手物交換字.png"  alt="HTML tutorial" class="mx-auto d-block"></a>
            <br>
          </div>
          <div class="p-3 col-lg-2 lg2">
            <a href="/question" ><img src="images/疑難來解惑字.png"  alt="HTML tutorial" class="mx-auto d-block"></a>
            <br>
          </div>
        
      </div>
  </div>
  <!-- 框架 -->
  
  <div class="container bg-image">
    <div class="row" id="rainbow" >
     <div class="col-6 ">
<form action="/pass" method="POST" >
    <div class="input-group mb-3 ">
        <div class="input-group-prepend">
            <span class="input-group-text">學號</span>
        </div>
        <div>
    <input type="text" class="form-control" placeholder="Enter student number" id="uid" name="uid">
        </div>
    </div>
    <div class="input-group mb-3 ">
        <div class="input-group-prepend">
            <span class="input-group-text">密碼</span>
        </div>
        <div >
    <input type="password" class="form-control" placeholder="Enter password" id="upwd" name="upwd">
        </div>
    </div>
    <div class="input-group mb-3 ">
        <div class="input-group-prepend">
            <span class="input-group-text">名稱</span>
        </div>
        <div >
    <input type="text" class="form-control" placeholder="Enter your name" id="uname" name="uname">
        </div>
    </div>
    <div class="col-md-12 " style="text-align: center;">
        <input type="submit" id="pass" style="background-image:url(images/登入註冊/註冊按鈕.png); width:154px; height:55px;" value="" ></input>
        </div>
</form>
     </div>
    </div>
</div>

<script type="text/javascript" src="jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/crypto-js.js"></script>

<script type="text/javascript">
  $('#pass').click(function (evt) {
      evt.preventDefault();
      $.ajax({
          url: '/pass',
          type: 'POST',
          data: {
              id: $('#uid').val(),
              password: CryptoJS.SHA256($('#upwd').val()).toString(CryptoJS.enc.Hex),
              name: $('#uname').val(),
            },
          success: function (data) {
              if (data.ret_code === 0) {
                  console.log("Success!");
                  alert("註冊成功");
                  window.location.href="/login"; 
              }else if(data.ret_code === 1){
                  alert("帳號或密碼錯誤");
              }else if(data.ret_code === 2){
                  alert("註冊失敗");
                  // window.location.href="/pass.html";
                  window.history.go(0);
              }else if(data.ret_code === 3){
                  alert("輸入不得為空!");
              }else if(data.ret_code === 4){
                  alert("重複註冊");
                  window.history.go(0);
              }
              
          }
      });
  });
</script>

 


  <!-- 彩條 -->
<footer id="footer">
    <div class="container-fluid pt-3 ">

      <img class="w-100" src="images/彩條.png" class="mx-auto d-block"> 

    </div>


    <!-- 聯絡方式 -->

    <div class="container-fluid pt-3 ">
      <img  src="images/聯絡方式.png" class="mx-auto d-block"> 
    </div>
  
</footer>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>