<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
<link rel="stylesheet" href="style.css">
<title>輸出店錦囊</title>
</head>
<body>
 <!-- LOGO -->


    <div class="container pt-3 " id="logo">
        <div class="row boder" id="homepage">
            <div class="col ">
              <a href="/" ><img src="images/中科大蝦米.png"  alt="HTML tutorial" class="mx-auto d-block"></a>
        </div>
            <div class="col ">
                <img src="images/蝦米LOGO.png" class="mx-auto d-block">
            </div>
            <div class="col ">
                <div>
                  <% if (name) { %>
                    <!-- <a class="btn btn-default" href="/logout">登出</a> -->
                    <a href="/up" > <img src="images/我要救學弟妹.png" alt="HTML tutorial" class="mx-auto d-block"></a>
                  <% } else { %>
                    <!-- <a class="btn btn-default" href="/login">登入</a> -->
                    <a href="/help"> <img src="images/我要救學弟妹.png" alt="HTML tutorial" class="mx-auto d-block"></a>
                  <% } %>
                </div>
            </div>
        </div>
    </div>




<!-- 彩條 -->

    <div class="container-fluid pt-3 ">
      <img class="w-100" src="images/彩條.png" class="mx-auto d-block"> 
    </div>
   

    <!-- col lg -->
    <div class="container pt-3 ">
      <div class="row" id="homepage">
          <!-- <div class="p-3 col-lg-2 lg2">
              
          </div> -->
          <div class="p-3 col-lg-2 lg2">
            <a href="/resource" ><img src="images/不求人指南字.png"  alt="HTML tutorial" class="mx-auto d-block"></a>
            <br>
          </div>
          <div class="p-3 col-lg-2 lg2">
            <a href="/print" ><img src="images/輸出店錦囊字.png"  alt="HTML tutorial" class="mx-auto d-block"></a>
            <br>
          </div>
          <div class="p-3 col-lg-2 lg2">
            <a href="/exchange" ><img src="images/二手物交換字.png"  alt="HTML tutorial" class="mx-auto d-block"></a>
            <br>
          </div>
          <div class="p-3 col-lg-2 lg2">
            <a href="/question" ><img src="images/疑難來解惑字.png"  alt="HTML tutorial" class="mx-auto d-block"></a>
            <br>
          </div>
        
      </div>
  </div>
  <!-- 框架 -->
  
  <div class="container">
    <div class="row" style="margin: 0px; align-items: flex-start;justify-content: space-around;">
      <div class="col-md-4 col-sm-12" >
        <a href="https://www.facebook.com/GracePhotocopies" target="_blank"><img  src="images\輸出店錦囊\加恩.png"  alt="HTML tutorial" class="mx-auto d-block"></a>
        <br>
        <div class="print" style="margin-left:40px;">
        <p >加恩數位印刷</p>
        <p>地址 : 台中市北區中華路二段187號</br>
        電話 : 04-22031553</br>
        開放時間 : 09:00–21:00</br>
        公休時間 : 每周六</p>
        <p>貼心小提醒 : </br>
        曾經發生過隨身碟中毒!</br>
        養成使用雲端的習慣避免悲劇!</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <img  src="images\輸出店錦囊\系辦.png" class="mx-auto d-block"> 
        <br>
        <div class="print" style="margin-left:40px;">
          <p >多媒系辦影印機</p>
          <p>開放時間 : 同系辦工作時間</br>
            使用方法 : </br>
            須先儲值影印卡，最低100元 </p>
          <p>貼心小提醒 : </br>
            影印機沒墨水需要跑流程後才能補充</br>
            建議不要拖到最後一刻才去印！</br>
            有可能會開天窗喔！
            </p>
   
        </div>
      
      </div>
      <div class="col-md-4 col-sm-12">
        <img  src="images\輸出店錦囊\隱藏板.png" class="mx-auto d-block"> 
        <br>
        <div class="print" style="margin-left:40px;"> 
          <p>老師推薦店家</p>
          <p>名稱:野貓設計工作室</br>
          地址 : 台中市北區中華路二段187號</br>
          電話:+886 422034748</br>
          開放時間 : 09:00–21:00</br>
          公休時間 : 每周六</p>
          <p>貼心小提醒 : </br>
            真正的隱藏版店家，找不到才是正常，</br>
            不管你有多懷疑是不是對的，</br>
            OK超商旁的巷子，走進去就對了！</p>
   </div>
      
      </div>
    </div>
  </div>

 


  <!-- 彩條 -->
<footer id="footer">
    <div class="container-fluid pt-3 ">

      <img class="w-100" src="images/彩條.png" class="mx-auto d-block"> 

    </div>


    <!-- 聯絡方式 -->

    <div class="container-fluid pt-3 ">
      <img  src="images/聯絡方式.png" class="mx-auto d-block"> 
    </div>
  
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>